<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="canonical" href="https://getbootstrap.com/docs/3.4/examples/jumbotron-narrow/">

    <title>{% block title %}Toilter{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link rel='stylesheet' href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script-- src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script-->
    <!--[endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="{{ url_for('index') }}">Home</a></li>
            <li role="presentation"><a href="#">About</a></li>

            {% if current_user.is_authenticated %}
            <li role="presentation"><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
              <li role="presentation"><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
          </ul>
        </nav>
        <h3 class="text-muted">Toilter</h3>
      </div>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="alert alert-warning">
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
            </div>
          {% endif %}
        {% endwith %}

      {% block content %}
      {% endblock %}

      <footer class="footer-copyright text-center py-3">
        <p>&copy; 2020 Larissa, Inc.</p>

      </footer>

    </div> <!-- /container -->

    <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>
